<link rel="stylesheet" href="../../styles/advertisement.css"> 
<section class="advertisement">
    <h2 class="advertisement__title">Один терабайт — много любимых развлечений</h2>
    <p class="advertisement__text">Подарок получают только новые абоненты при подключении услуг Tele2 
        с тарифом «Мой онлайн+». Трафик расходуется в течение года. </p>
        <figure class="advertisement__pluses">
            <figure class="advertisement__pluses__inner">
            <img class="advertisement__pluses__img" src="/video.svg" alt="video"/>
            <figcaption class="advertisement__pluses__text">Около 500 часов видео</figcaption>
            </figure>

            <figure class="advertisement__pluses__inner">
            <img class="advertisement__pluses__img" src="/music.svg" alt="music"/>
            <figcaption class="advertisement__pluses__text">Примерно 200 000 песен</figcaption>
            </figure>

            <figure class="advertisement__pluses__inner">
            <img class="advertisement__pluses__img" src="/photo.svg" alt="photo"/>
            <figcaption class="advertisement__pluses__text">Порядка 300 000 фото</figcaption>
            </figure>
        </figure>
</section>