<link rel="stylesheet" href="../../styles/header.css"> 
   
<header class="header">
    <a href="/"><img class="header__img" alt="Logo" src="/Logo.png"/></a>
    <nav class="header__nav">
        <img class="header__nav img" alt="Location" src="/Location.png"/>
        <p class="header__nav text">Санкт-Петербург</p>
    </nav>
</header>
