<link rel="stylesheet" href="../../styles/store.css"> 
<section class="store">
    <aside class="store__aside">
        <h2 class="store__aside__h2">Заходите на сайт Tele2</h2>
        <p class="store__aside__p">Перейдите в магазин, оформите тариф «Мой онлайн+» и на страничке активации введите ваш промокод. Готово! </p>
        <button class="store__aside__button"><p class="store__aside__button__p">Оформить тариф</p></button>
    </aside>
    <img class="store__img" src="/store.svg" alt="store"/>
</section>